/* variable class names */
.no_hover {
    pointer-events: none;
}

/* parent table */
#medal_list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 1000px;
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
    border: 0;
}

/* basic css of th tag */
th.medal_series,
th.medal_name,
th.medal_data {
    padding: 0 5px 0 5px;
    line-height: 1rem;
    max-height: 50px;
    min-height: 50px;
    font-size: 0.6rem;
    border: 0 !important;
    color: #FFFFFF;
    background-color: #036;
}

/* basic css of td tag */
td.medal_series,
td.medal_name,
td.medal_data {
    max-height: 35px;
    min-height: 35px;
    font-size: 0.6rem;
    border-top: 0 !important;
    border-bottom: 1px solid #000000 !important;
    border-left: 0 !important;
    border-right: 0 !important;

}

/* basic css of series & medal name */
th.medal_series,
th.medal_name,
td.medal_series,
td.medal_name {
    word-break: break-all;
    max-width: 100px;
    min-width: 100px;
}

/* td.medal_series {
    background-color: #9999FF;
} */

/* td.medal_name {
    background-color: #FF9999;
} */

/* basic css of medal data */
th.medal_data,
td.medal_data {
    word-break: break-all;
    max-width: 100px;
    min-width: 100px;
}

/* th.medal_data {
    background-color: #CCE5FF;
} */

th.medal_data:hover {
    background-color: #99CCFF;
}

td.medal_data-no_exists {
    background-color: #f8f8f8;
}

td.medal_data-no_exists:hover {
    background-color: #f1f1f1;
}

td.medal_data-exists {
    background-color: #CCFFFF;
}

td.medal_data-exists:hover {
    background-color: #99FFFF;
}