/*
    parent container
*/
#medal_data_zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#medal_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
}

.tooltip_container {
    /* position: relative; */
    display: block;
}

/*
    tooltip div, when no hover
*/
.tooltip_container .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;

    border: 2px solid #808080;
    border-radius: 0.7em;
    background-color: #FFF;
    color: #000;
    width: 250px;
    height: 330px;
}

/*
    tooltip div, when hover
*/
.tooltip_container:hover .tooltip {
    visibility: visible;
}

/*
    tooltip header
*/
.tooltip_header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 2% 0 2%;
    height: 40%;
}

.tooltip_header img {
    margin: 3% 0 0 4%;
    padding: 0;
    width: 40%;
}

.tooltip_header span {
    margin: 0 0 0 2.5%;
    padding: 0;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

/*
    tooltip article - fieldset
*/
.tooltip_article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: -6% 0 0 0 !important;
    padding: 0;
    width: 100%;
    height: 60%;
    text-align: left;
}

.tooltip_article fieldset {
    margin: 0;
    padding: 0;
    width: 90%;
    border-style: solid;
    border-color: #CDCDCD;
    border-width: 2px 0 0 0;
    border-radius: 0.7em;
}

.tooltip_article fieldset legend {
    font-size: 0.8rem;
    color: #CDCDCD;
}

.tooltip_article tbody {
    clear: both;
    width: 90%;
    margin: -5% auto auto auto;
}

.tooltip_article tbody tr:nth-child(odd) {
    background-color: #CDCDCD;
}

.tooltip_article tbody tr:nth-child(even) {
    background-color: #FFF;
}

/*
    tooltip article - table body
*/
.tooltip_article tbody {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2%;
}

.tooltip_article tbody tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.tooltip_article tbody tr td {
    width: 50%;

}

.tooltip_article tbody tr td {
    font-size: 0.6rem;
    line-height: 0.7rem;
    white-space: nowrap;
}

.tooltip_article tbody tr td font.data_type {
    color: #000;
    font-weight: bold;
}

.tooltip_article tbody tr td font.data_text {
    color: #298035;
    font-weight: bold;
}

.tooltip_article tbody tr td font {
    color: #808080;
    font-weight: lighter;
}

/*
    tooltip article
*/
.tooltip_footer {
    justify-content: start;
    margin: 0 6% 0 6%;
}

.tooltip_footer span {
    color: #808080;
    text-align: left;
    font-size: 0.5rem;
}