<div class="">
    <span class="key">Shortcut</span>
</div>



<style>
    /* 출처: https://itchipmunk.tistory.com/178 [다람쥐의 개발 일상 블로그:티스토리] */
    /*?키보드?효과?css?*/
    .key {
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
        color: #333;
        display: inline-block;
        font-size: 80%;
        font-weight: bold;
        line-height: 1.4;
        margin: 0 0.1em;
        padding: 0.1em 0.5em;
        text-shadow: 0 1px 0 #fff;
        white-space: nowrap;
    }

    /* 출처: https://itchipmunk.tistory.com/178 [다람쥐의 개발 일상 블로그:티스토리] */
    /*?코드?span?CSS?효과?*/
    .codespan {
        background-color: #eee;
        border: 1px solid #eee;
        border-radius: 2px;
        display: inline-block;
        font-size: 90%;
        font-weight: bold;
        color: crimson;
        margin: 0 0.1em;
        padding: 0.1em 0.3em;
        text-shadow: 0 1px 0 #fff;
        white-space: nowrap;
    }
</style>